# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/
venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env


# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Tests / coverage
.coverage
htmlcov/
.pytest_cache/

