{% extends 'base.html' %}

{% block title %}Delete {{ pet.name }}{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-card">
        <h1>Delete {{ pet.name }}</h1>
        <p>Are you sure you want to delete this pet?</p>

        <form method="post">
            {% csrf_token %}
            <div class="form-actions">
                <button type="submit" class="primary-btn">Delete</button>
                <a class="primary-btn cancel" href="{% url 'pet-detail' pet.pk %}">Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}