
{% extends 'base.html' %}

{% block title %}Edit {{ pet.name }}{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-card">
        <h1>Edit {{ pet.name }}</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="form-actions">
                <button type="submit" class="primary-btn">Save</button>
                <a class="primary-btn cancel" href="{% url 'pet-detail' pet.pk %}">Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}