{% extends 'base.html' %}

{% block title %}Appointments{% endblock %}

{% block content %}
<section class="form-section">
    <div class="contact-list-card">
        <h1>Appointments</h1>

        <div class="contact-list-actions">
            <a class="primary-btn" href="{% url 'appointment-create' %}">Add New Appointment</a>
        </div>

        <div class="my-contacts-grid">
            {% for a in appointments %}
                <article class="my-contact-card">
                    <h3>{{ a.service_contact.get_contact_type_display }} - {{ a.title }}</h3>
                    <p><strong>Pet:</strong> {{ a.pet.name }}</p>
                    <p><strong>Date:</strong> {{ a.date }}</p>
                    <p><strong>Status:</strong> {% if a.is_completed %}Completed{% else %}Upcoming{% endif %}</p>

                    <div class="my-contact-card-actions">
                        <a class="secondary-btn" href="{% url 'appointment-detail' a.pk %}">View Details</a>
                    </div>
                </article>
            {% empty %}
                <p class="empty-message">No appointments yet.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}