{% extends 'base.html' %}
{% block title %}Appointment Details{% endblock %}
{% block content %}
<h1>{{ appointment.title }}</h1>
<p>Pet: {{ appointment.pet.name }}</p>
<p>Date: {{ appointment.date }}</p>
<p>Completed: {{ appointment.is_completed }}</p>
<p>Service Contact: {{ appointment.service_contact }}</p>
<p>Notes: {{ appointment.notes }}</p>

<a href="{% url 'appointment-edit' appointment.pk %}">Edit</a>
<a href="{% url 'appointment-delete' appointment.pk %}">Delete</a>
<a href="{% url 'appointment-list' %}">Back</a>
{% endblock %}