{% extends 'base.html' %}

{% block title %}Delete Preventive Care{% endblock %}

{% block content %}
<section class="form-section">
    <div class="form-card">
        <h1>Delete Preventive Care</h1>

        <p>
            Are you sure you want to delete
            <strong>{{ object.care_type }}</strong> for
            <strong>{{ object.pet.name }}</strong>?
        </p>

        <form method="post">
            {% csrf_token %}

            <div class="form-actions">
                <button type="submit" class="primary-btn cancel">Confirm Delete</button>
                <a class="primary-btn" href="{% url 'preventivecare-detail' object.pk %}">Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}