{% extends 'base.html' %}

{% block title %}Edit Preventive Care{% endblock %}

{% block content %}
<section class="form-page">
    <div class="form-card">
        <h1>Edit Preventive Care</h1>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="form-actions">
                <button type="submit" class="primary-btn">Save</button>
                <a class="primary-btn cancel" href="{% url 'preventivecare-detail' object.pk %}">Cancel</a>
            </div>
        </form>
    </div>
</section>
{% endblock %}