{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}TailTales{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    {% block extra_css %}{% endblock %}
</head>

<body>
<header class="header-wrapper">
    <div class="header-left">
        <a href="{% url 'home' %}" class="brand-link">
            <img src="{% static 'images/logo.png' %}" alt="TailTales Logo" class="logo-icon">
            <h1>TailTales</h1>
        </a>
    </div>

    <div class="header-center">
        <nav class="header-nav">
            <a href="{% url 'home' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'dashboard' %}">TailTales Central</a>
            {% endif %}
            <a href="{% url 'how-it-works' %}">How It Works</a>
            <a href="{% url 'pet-gallery' %}">Gallery</a>
            <a href="{% url 'about' %}">About us</a>

        </nav>
    </div>

    <div class="header-right">
        <div class="btn-group auth-links">
            {% if user.is_authenticated %}
                {#                <a class="primary-btn" href="{% url 'dashboard' %}">TailTales Central</a>#}
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="secondary-btn">Logout</button>
                </form>
            {% else %}
                <a class="secondary-btn" href="{% url 'login' %}">Login</a>
                <a class="secondary-btn" href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>
</header>

<main class="main-wrapper {% block main_class %}soft-pet-page{% endblock %}">
    {% block content %}{% endblock %}
</main>

<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-column">
            <h4>Useful Links</h4>
            <ul class="footer-links">
                <li>
                    <a href="https://www.petmd.com/" target="_blank" rel="noopener noreferrer">PetMD</a>
                </li>
                <li>
                    <a href="https://www.rspca.org.uk/adviceandwelfare/pets" target="_blank" rel="noopener noreferrer">RSPCA
                        Advice</a>
                </li>
            </ul>
        </div>

        <div class="footer-column">
            <h4>Contact</h4>
            <ul class="footer-links">
                <li>
                    <a href="https://github.com/Anci82" target="_blank" rel="noopener noreferrer">GitHub</a>
                </li>
                <li><a href="mailto:anashuttleworth@hotmail.com">Email Me</a></li>
                <li>
            </ul>
        </div>
    </div>

    <p class="footer-note">© 2026 TailTales Diary. Made with love and a little chaos.</p>
</footer>

{% block extra_js %}{% endblock %}
</body>
</html>